//* Section - features

.img-feature {
  margin-bottom: 30px;
}

.feature-flex li:not(:last-child) {
  margin-bottom: 30px;
}

.icon-features {
  content: "";
  display: block;
  height: 120px;
  width: 100%;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.icon-position {
  width: 70px;
  height: 70px;
}

.features-item-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: $header-menu-color;
  margin-bottom: 10px;
}

.features-item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: $text-color;
}

@media screen and (min-width: 768px) {
  .feature-flex {
    display: flex;
    flex-wrap: wrap;

    .feature-flex-item {
      width: 354px;

      &:nth-child(2n + 1) {
        margin-right: 30px;
      }
      &:nth-child(-n + 2) {
        margin-bottom: 30px;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .features {
    padding-bottom: 0;
  }
  .feature-flex {
    flex-wrap: nowrap;
  }
  .feature-flex-item {
    width: 270px;

    &:nth-child(2n + 1) {
      margin-right: 0;
    }
    &:nth-child(-n + 2) {
      margin-bottom: 0;
    }
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
