.header-section {
  position: relative;
  margin: 0;
  padding: 0;
  color: $logo-color;
  border-bottom: 1px solid $line-color;
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;

  &-blue {
    color: $active-color;
  }
}

.icon-menu,
.icon-cross {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    fill: $active-color;
  }
}

.nav-flex {
  display: none;

  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  z-index: 10;
  width: 100%;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $hero-button-color;
  border-top: 1px solid $line-color;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color fill;

  &.is-open {
    display: block;
  }

  @media screen and (min-width: 768px) {
    width: 530px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    // padding-right: 15px;
    padding-top: 0;
    padding-bottom: 0;

    position: relative;
    bottom: 0;
    right: 0;
    border-top: none;
    transform: translateY(0);
  }
}

.nav-list-site {
  padding-bottom: 60px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: $header-menu-color;

  .nav-item-site:hover {
    color: $active-color;
  }

  @media screen and (max-width: 767px) {
    .nav-item-site:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;

    position: relative;
    left: 0;
    right: 0;
    padding: 0;
    border: none;
    font-size: 14px;
    line-height: 16px;

    .nav-item-site {
      padding: 31px 0;
    }

    .nav-item-site:not(:first-child) {
      margin-left: 50px;
    }
  }
}

.nav-link.current {
  color: $active-color;
}

.line {
  position: relative;
  color: $active-color;

  &-link {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 8px;
    width: 64px;
    height: 4px;
    background: $active-color;
    border-radius: 2px;

    @media screen and (min-width: 768px) {
      margin-top: 28px;
      width: 47px;
    }
  }

  &-link-2 {
    @extend .line-link;
    width: 99px;
  }
}

.nav-list-contacts {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: $text-color;

  .nav-item-contacts:first-child {
    margin-bottom: 16px;
  }

  .icon {
    margin-right: 10px;
    fill: $text-color;
  }

  .nav-item-contacts:hover {
    color: $active-color;

    .icon {
      fill: $active-color;
    }
  }

  @media screen and (min-width: 768px) {
    margin-left: 84px;
    font-size: 12px;
    line-height: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 31px;
  }
}
