.header-section {
  margin: 0;
  padding: 0;
  // position: relative;
  color: $logo-color;
  border-bottom: 1px solid $line-color;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;

  &-blue {
    color: $active-color;
  }
}

.icon-menu {
  // transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    fill: $active-color;
  }
}

.nav-for-480 {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(101%);
  z-index: 10;
  width: 100%;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $hero-button-color;
  // outline: 2px solid blue;
  opacity: 0;
  pointer-events: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color, fill;
}

.nav-list-site {
  padding-bottom: 60px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.02em;
  // color: $header-menu-color;

  li:not(:last-child) {
    margin-bottom: 40px;
  }

  li:hover {
    color: $active-color;
  }
}

.nav-link.current {
  color: $active-color;
}

.line {
  position: relative;
  color: $active-color;

  &-link {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 8px;
    width: 64px;
    height: 2px;
    background: $active-color;
    border-radius: 2px;
  }

  &-link-2 {
    @extend .line-link;
    width: 99px;
  }
}

.nav-list-contacts {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: $text-color;

  li:first-child {
    margin-bottom: 16px;
  }

  .icon {
    margin-right: 10px;
    fill: $text-color;
  }

  li:hover {
    color: $active-color;

    .icon {
      fill: $active-color;
    }
  }
}
