//   Portfolio

.item-project:not(:last-child) {
  margin-bottom: 30px;
}

.card-link {
  display: inline-block;
  content: "";
  overflow: hidden;

  &:hover,
  &:focus {
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
      0px 1px 1px rgba(0, 0, 0, 0.12);
  }
}

.card-description {
  background: $hero-button-color;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;

  // .card-link:hover &,
  // .card-link:focus & {
  //   box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
  //     0px 1px 1px rgba(0, 0, 0, 0.12);
  // }

  @media screen and (min-width: 481px) {
    width: 480px;
  }
}

.portfolio-item-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: $header-menu-color;
  padding-bottom: 4px;
  overflow: hidden;
}

.position-text {
  position: relative;
}

.text {
  position: absolute;
  top: 0;
  padding-top: 77px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 77px;
  height: 100%;
  max-width: 480px;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: $hero-button-color;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  opacity: 0;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .card-linc:hover &,
  .card-linc:focus & {
    opacity: 1;
    transform: translateY(0);
  }

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 63px;
    padding-bottom: 63px;
  }
}

@media screen and (min-width: 768px) {
  .list-project {
    display: flex;
    flex-wrap: wrap;
  }
  // li:not(:last-child) {
  //   margin-bottom: 0;
  // }
  .item-project {
    width: 354px;

    // &:not(:last-child),
    &:not(:nth-child(2n)) {
      margin-right: 30px;
    }

    &:last-child {
      margin-right: 0;
    }
  }
  .text {
    width: 354px;
  }
  .card-description {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .item-project {
    &:not(:nth-child(2n)) {
      margin-right: 0;
    }
    &:not(:last-child) {
      margin-bottom: 0;
    }

    &:not(:nth-child(3n)) {
      margin-right: 30px;
    }
    &:not(:nth-last-child(-n + 3)) {
      margin-bottom: 30px;
    }
  }
}
