.container {
  // max-width: 450px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 60px;
  margin-left: auto;
  margin-right: auto;

  .header-section & {
    position: relative;
    padding-top: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // outline: 1px solid tomato;
  }

  .hero & {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  h2 {
    margin-bottom: 30px;
  }

  @media screen and (max-width: 479px) {
    max-width: 479px;
  }
  @media screen and (max-width: 767px) {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding-top: 94px;
  }
}
