.container {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 60px;
  margin-left: auto;
  margin-right: auto;

  .header-section & {
    //position: relative;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    // outline: 1px solid tomato;
  }

  .hero & {
    padding-top: 118px;

    // @media screen and (min-width: 1200px) {
    //   margin-top: 200px;
    // }
  }

  .features & {
    padding-bottom: 60px;
  }

  .team & {
    padding-bottom: 60px;
  }

  h2 {
    margin-bottom: 30px;
    // @media screen and (min-width: 1200px) {
    //   margin-top: 94px;
    // }
  }

  // @media screen and (min-width: 768px) and (max-width: 1199px) {
  //   width: 768px;
  // }

  // @media screen and (min-width: 1200px) {
  //   width: 1200px;
  //   .hero & {
  //     margin-top: 200px;
  //   }
  // }
}

.portfolio.container {
  padding-bottom: 60px;
  // @media screen and (min-width: 1200px) {
  //   margin-top: 93px;
  // }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 768px;
    outline: 1px solid tomato;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-top: 94px;

    .hero & {
      padding-top: 200px;
    }
    .team & {
      padding-bottom: 94px;
    }
    .features & {
      padding-bottom: 0;
    }
    h2 {
      margin-top: 94px;
    }
  }

  // .portfolio.container {
  //   margin-top: 93px;
  // }
}
