html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;

  background: $hero-button-color;
}

a {
  text-decoration: none;
  color: $header-menu-color;
}

ul {
  list-style: none;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}

figure,
p {
  margin: 0;
}

// for fotos
.imgblock {
  display: block;
  max-width: 100%;
}

// Sections
.sectoin-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: $header-menu-color;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  border: 0;
  padding: 0;
  height: 1px;
  width: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.desctop-section {
  display: none;

  // @media screen and (min-width:1200px){

  // }
}
