$logo-color: #000000;
$active-color: #2196f3;
$hero-button-color: #ffffff;
$line-color: #ececec;
$header-menu-color: #212121;
$text-color: #757575;

// :root {
//
//   --
//   --team-color: #f5f4fa;

//   --footer-backgraund: #2f303a;
//   --footer-address-color: rgba(255, 255, 255, 0.6);
//   --developer-color: rgba(255, 255, 255, 0.4);
// }
